<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">org.sqlite.JDBC</property>
        <property name="connection.url">jdbc:sqlite:server.db?journal_mode=WAL&amp;busy_timeout=5000</property>
        <property name="dialect">org.hibernate.community.dialect.SQLiteDialect</property>
        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">update</property>
        
        <mapping class="org.example.server.db.UserEntity"/>
        <mapping class="org.example.server.db.MessageEntity"/>
    </session-factory>
</hibernate-configuration>
